<style>
    .text-bigger {
        font-size: 18px;
    }
</style>

<nav class="rounded-bottom-4 box-shadow shadow-sm text py-3 sticky-top navbar navbar-expand-lg text-black navbar-light bg-white">
    <div class="container-fluid">
        <a class="ms-4 navbar-brand fw-bold" asp-controller="Admin" asp-action="GetAdminPage">Admin panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-bigger text-dark" asp-controller="Admin" asp-action="GetAdminAccountsPage">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bigger text-dark" asp-controller="Admin" asp-action="GetAdminServicesPage">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bigger text-dark" asp-controller="Admin" asp-action="GetAdminWarehousePage">Warehouse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bigger text-dark" asp-controller="Admin" asp-action="GetAdminOrdersPage">Orders</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-bigger" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="dropdown-item" asp-controller="User" asp-action="GetUserInfoPage">Info</a></li>
                        <li><a class="dropdown-item" asp-controller="Authentication" asp-action="Logout">Logout</a></li>
                        <li><a class="dropdown-item" asp-controller="Admin" asp-action="GetAdminPage">Admin</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

